@import "variables";
@import "components";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

//html {
//  font-size: 62.5%;
//}

ul {
  list-style: none;
}

a {
  color: $main-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-section;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.section__top {
  padding-top: 30px;
  .title {
    margin: 0 0 20px;
    color: $main-color;
    font-size: 2rem;
    font-weight: 700;
  }

  p.slogan {
    color: #696592;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    margin: 0 0 20px;
  }
}

.mobile-nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  border: 0;
  background: none;
  line-height: 1;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  
  @include respond-to(lg) {
    display: none;
  }
  i {
    margin: 1.7rem 1.7rem 0 0;
    color: #065e77;
  }
}

.header {
  position: fixed;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  .topbar {
    display: none;
    text-align: right;
    margin-bottom: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    @include respond-to(lg) {
      display: block;
    }
    li {
      display: inline-block;
      padding: 4px 12px;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    .logo {
      font-size: 36px;
      font-weight: lighter;
      letter-spacing: 3px;
      color: $main-color;
    }

    .main-nav {
      visibility: hidden;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      @include respond-to(lg) {
        background: none;
        position: unset;
        width: unset;
        height: unset;
        visibility: unset;
      }
      &__list {
        //transform: translateX(-100%);
        padding-top: 20px;
        height: 100%;
        z-index: 2;
        background: rgba(40, 38, 70, 0.8);
        @include respond-to(lg) {
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          -o-transform: none;
          transform: none;
          background: none;
          height: unset;
          width: unset;
          padding-top: 0;
        }
      }
      .main-nav__list{
        width: 0;
        overflow: hidden;
        transition: all 0.4s linear;
        @include respond-to(lg) {
          width: unset;
        }
      }
      .show-nav {
        width: 300px;
      }

      li {
        display: block;
        padding: 4px 12px;
        transition: all .5s ease;
        &:hover {
          padding-left: 18px;
          font-weight: bold;
          background: $color-section;
        }
        @include respond-to(lg) {
          display: inline-block;
          &:hover {
            padding-left: 12px;
            background: unset;
          }
        }
        &.active a,
        &:hover > a {
          transition: 0.3s;
          color: #8dc2fa;
          @include respond-to(lg) {
            font-weight: bold;
            color: $color-active;
          }
        }

        a {
          color: #fff;
          font-weight: 500;
          line-height: 50px;
          @include respond-to(lg) {
            font-weight: bold;
            color: $main-color;
          }
        }
      }
      li.active {
        background: $color-section;
        @include respond-to(lg) {
          background: unset;
        }
      }
    }

    .bg-purple  {
      visibility: visible;
      background-color: rgba(40, 38, 70, 0.8);
      cursor: pointer;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
    }




  }
}//end-header

//#home
#home {
  background: url("../img/intro-bg.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  .home {
    max-width: 400px;
    height: 170px;
    &__intro {
      position: relative;
      height: 100%;
      padding-top: 100px;
      text-align: center;
      top: 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      h1 {
        font-size: 2rem;
        color: $main-color;
        @include respond-to(lg) {
          font-size: 2.5rem;
        }
      }
      .btn-orange {
        background-color: $color-active;
        color: #fff;
        margin: 20px 0;
        font-weight: bold;
        font-size: .9rem;
        transition: 0.5s all ease;
        -webkit-transition: 0.5s all ease;
        -moz-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        &:hover {
          background-color: $main-color;
        }
      }
    }
  }
} //#home

.about {
  padding: $py-80;
  margin: $my-30;
  @include respond-to(md) {
    display: flex;
    flex-wrap: wrap;

  }
  &__left {
    margin: 30px;
    position: relative;
    @include respond-to(md) {
      width: 45%;
      //padding: 0 1rem;
    }
    @include respond-to(md) {
      width: 35%;
    }
    &::before {
      position: absolute;
      left: -31px;
      top: -30px;
      width: 90%;
      height: 92%;
      z-index: -1;
      content: "";
      background-color: #ebf1fa;
      transition: 0.5s;
    }
    &::after {
      position: absolute;
      right: -31px;
      bottom: -30px;
      width: 90%;
      height: 92%;
      z-index: -1;
      content: "";
      background-color: #ebf1fa;
      transition: 0.5s;
    }
    img {
      border: 8px solid #fff;
      width: 100%;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        width: 100%;
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
      }
    }
  }

  &__right {
    @include respond-to(md) {
      width: 45%;
      padding: 0 1rem;
    }
    @include respond-to(md) {
      width:55%;
    }
    .text {
      margin-bottom: 30px;
    }
    .list {
      li {
        margin-bottom: 1rem;
        i {
          font-size: 1.2rem;
          padding-right: 5px;
          color: $color-active;
        }
      }
    }
  }
}//.about



#services {
  background-color: $color-section;
  padding: 80px 0;
  margin: 30px 0;
  .services {
    margin-top: 40px;
    &__item {
      padding: 0 1rem;
      animation-name: bounceInUp;
      @include respond-to(md) {
        width: 50%;
      }
      @include respond-to(lg) {
        width: 33.33%;
      }
      &:nth-child(1) .item__icon {
        background-color: #fceef3;
        color: #ff689b;
      }
      &:nth-child(2) .item__icon {
        background-color: #fff0da;
        color: #e98e06;
      }
      &:nth-child(3) .item__icon {
        background-color: #e6fdfc;
        color: #3fcdc7;
      }
      &:nth-child(4) .item__icon {
        background-color: #eafde7;
        color: #41cf2e;
      }
      &:nth-child(5) .item__icon {
        background-color: #e1eeff;
        color: #2282ff;
      }
      &:nth-child(6) .item__icon {
        background-color: #ecebff;
        color: #8660fe;
      }

      .item {
        padding: 2rem;
        background-color: #fff;
        margin: 0 10px 40px 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
        transition: all 0.3s ease-in-out;
        text-align: center;
        &:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1);
          .item__title {
            color: $color-active;
          }
        }

        &__icon {
          padding-top: 10px;
          width: 80px;
          height: 80px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          margin: 0 auto 15px auto;

          i {
            font-size: 2rem;
          }
        }
        &__title {
          color: $main-color;
          margin-bottom: 18px;
          font-size: 1.2rem;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        &__desc {
          font-size: 14px;
          line-height: 28px;
          text-align: left;
        }
      }
    }
  }
} //#services

#why-us {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  .why-us {
    margin-top: 80px;
    @include respond-to(lg) {
      display: flex;
      flex-wrap: wrap;
    }
    &__img {
      max-width: 100%;
      margin-bottom: 30px;
      @include respond-to(lg) {
        width: 50%;
        padding-right: 15px;
      }
      img {
        width: 100%;
      }
    }
    &__content {
      @include respond-to(lg) {
        width: 50%;
        padding-left: 15px;
      }
      .desc {
        padding-bottom: 30px;
        line-height: 22px;
      }
      .features {
        margin-bottom: 30px;
        h3 {
          font-size: 24px;
          color: $main-color;
          position: relative;
          padding-left: 60px;
          padding-bottom: 10px;
        }
        i {
          position: absolute;
          font-size: 36px;

        }
        i.fa-diamond{
          color: #f058dc;
        }
        i.fa-object-group{
          color: #ffb774;
        }
        i.fa-language{
          color: #589af1;
        }
        p {
          padding-left: 60px;
        }
      }
    }
  }
  .counters {
    .item {
      text-align: center;
      width: 50%;
      margin-bottom: 30px;
      margin-top: 40px;

      @include respond-to(lg) {
        width: 25%;
      }
      span {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 48px;
        display: block;
        color: #555186;
      }
      p {
        padding: 0;
        margin: 0 0 20px 0;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: #8a87b6;
      }
    }
  }
 }//#why-us

#call-to-action {
  background: #2d2b46;
  background-size: cover;
  padding: 80px 0;
  margin: 30px 0;
  .call-to-action {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    h2 {
      color: $color-active;
      font-size: 2.5rem;
      margin: 0 0 20px;
    }
    p {
      color: #fff;
      line-height: 22px;
      margin-bottom: 30px;
    }
    .btn-call {
      border: 4px solid #fff;
      border-radius: 3px;
      padding: 10px 30px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      transition: background-color 0.3s ease,
                  border 0.5s ease;
      &:hover {
        background-color: $color-active;
        border-color: $color-active;
      }
    }
  }
}//call-to-action

#descriptions {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  .description {
    margin-top: 80px;
    @include respond-to(lg) {
      display: flex;
      flex-wrap: wrap;
    }

    &__img {
      max-width: 100%;
      margin-bottom: 30px;
      @include respond-to(lg) {
        width: 50%;
        padding-right: 15px;
      }

      img {
        width: 100%;
      }
    }

    &__content {
      @include respond-to(lg) {
        width: 50%;
        padding-left: 15px;
      }
      h3 {
        font-weight: 600;
        font-size: 24px;
        color: #5c57a7;
        margin-bottom: 30px;
      }
      p {
        padding: 0;
        margin: 0 0 30px 0;
        line-height: 22px;
      }
    }
  }
}//#descriptions

.portfolio {
  padding: 80px 0;
  background: $color-section;
  text-align: center;
  .filter-active {
    color: $color-active;
  }
  &__tab {
    li {
      display: inline-block;
      cursor: pointer;
      margin: 15px 15px 15px 0;
      padding: 6px 10px;
      font-size: 16px;
      line-height: 20px;
      color: $main-color;
      font-weight: lighter;
      transition: all 0.3s ease-in-out;
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    height: 280px;
    margin-bottom: 30px;

    &:hover .item__info {
      visibility: visible;
      cursor: pointer;
    }
    &:last-child {
      @include  respond-to(md) {
        display: none;
      }
      @include  respond-to(lg) {
        display: block;
      }
    }
    @include respond-to(md) {
      width: calc(100%/2 - 16px);
    }
    @include respond-to(lg) {
      width: calc(100%/3 - 16px);
    }

    .item {
      position: relative;
      width: 100%;
      height: 100%;
      &__img {
        display: block;
        width: 100%;
        height: 100%;
      }
      &__info {
        visibility: hidden;
        background: #282646;
        opacity: .8;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 a, p {
          color: #fff;
          margin-bottom: 10px;
          display: block;
        }

        .link-details,
        .link-preview {
          display: inline-block;
          font-size: 1.5rem;
          margin: 0 5px;
          color: #fff;
          background-color: $color-active;
          padding: 10px;
          width: 40px;
          height: 40px;
          line-height: 0;
          border-radius: 50%;
          transition: background-color .3s linear;
          &:hover {
            background-color: #42c3e8;
          }
        }
      }
    }
  }
}//.portfolio

#team {
  .team {
    animation-name: showToHide;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      position: relative;
      overflow: hidden;
      margin-bottom: 30px;
      @include respond-to(md) {
        width: calc(100%/2 - 1rem);
      }
      @include respond-to(lg) {
        width: calc(100%/4 - 1rem);
      }

      img {
        width: 100%;
      }

      .member {
        width: 100%;
        padding: 1rem 0;
        text-align: center;
        background-color: rgba(29, 28, 41, 0.6);;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate3d(0, 40px, 0);
        &:hover {
          transform: none;
        }
        &__info {
          h4 {
            color: #fff;
            font-size: 18px;
          }
          span {
            font-weight: lighter;
            font-size: 13px;
            font-style: italic;
            color: #fff;
          }
          .social {
            //animation-name: showToHide;
            //transition: height 0.4s;
            margin-top: 15px;
            a {
              transition: 0.2s;
              font-size: 1.2rem;
              margin: 5px;
              color: #fff;
              &:hover {
                color: $color-active;
              }
            }
          }
        }
      }
    }
  }
} //#team

#contactus {
  padding: 80px 0;
  margin: 30px 0;
  font-size: 14px;
  background: #fff;
  .footer {
    display: flex;
    flex-wrap: wrap;

    &__left {
      padding-right: 1rem;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      @include respond-to(lg) {
        width: calc(100%/2 - 1rem);
      }
      .item {
        width: 100%;
        @include respond-to(sm) {
          width: calc(100%/2 - 1rem);
        }
        &__info,
        &__newsletter,
        &__links{
          margin-bottom: 30px;
          h4 {
            font-size: 14px;
            font-weight: bold;
            color: #5c57a7;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 10px;
          }
         p {
           font-size: 13px;
           line-height: 24px;
           margin-bottom: 0;
           font-family: "Montserrat", sans-serif;
           color: #535074;
         }
        }
        &__info {
          padding-right: 1rem;
          h3 {
            font-size: 34px;
            margin: 0 0 20px 0;
            padding: 2px 0 2px 0;
            line-height: 1;
            font-family: "Montserrat", sans-serif;
            color: $main-color;
            font-weight: 400;
            letter-spacing: 3px;
            text-transform: uppercase;
          }
        }
        #subscribe {
          display: flex;
          flex-direction: wrap;
          margin-top: 30px;

        }
        &__newsletter input[type="email"] {
          padding: 6px 8px;
          // width: 65%;
          border: 1px solid #d9dde6;
        }
        &__newsletter button[type="submit"] {
          background: $color-active;
          border: 1px solid $color-active;
          // width: 31%;
          padding: 6px 0;
          text-align: center;
          color: #fff;
          transition: 0.3s;
          cursor: pointer;
        }
      
        &__links ul {
          @include respond-to(lg) {
            padding-top: 25px;
            margin-bottom: 78px;
          }
          li{
            padding: 8px 0;
          }
        }
        .social-links{
          margin-top: 10px;
          @include respond-to(lg) {
            margin-top: 40px;
          }
          a{
            font-size: 18px;
            display: inline-block;
            background: $color-active;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
          }
         }
      }
    }

    &__right {
      width: 100%;
      @include respond-to(lg) {
        width: calc(100%/2 - 1rem);
      }
      h4 {
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: bold;
        color: $main-color;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 10px;
      }
      p {
        margin: 0 0 30px 0;
      }
      .form-group input,
      .form-group textarea {
        border-radius: 0;
        box-shadow: none;
        border: 1px solid #dce1ec;
        font-size: 14px;
        resize: vertical;
      }
      .form-control {
        display: block;
        width: 100%;
        font-weight: 400;
        padding: 5px 10px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        margin-bottom: 1rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      }
      button[type="submit"] {
        background: $color-active;
        border: 0;
        border-radius: 3px;
        padding: 8px 30px;
        color: #fff;
        transition: 0.3s;
        margin-top: 20px;
      }
    }
  }

  .copyright {
    text-align: center;
    padding-top: 30px;
    color: $main-color;
    font-size: 15px;
  }
}//#contactus

.back-to-top {
  position: fixed;
  display: none;
  background: #dc4e22;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
  i {
    padding-top: 12px;
    color: #fff;
  }
}
